<html lang="es"  layout:decorate="_layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Suscripción Enviada</title>        
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container mt-4 px-5">
                <div class="p-3 text-dark rounded" style="background-color: #B4B4B4;">
                    <h2>Tu suscripción ha sido enviada</h2>
                    <h3>Recibiras un correo confirmando la creación de la cuenta para la clínica veterinaria.</h3>
                    <a class="btn btn-primary mt-3" href="/">Continuar</a>
                </div>
            </div>
        </div>
    </body>
</html>
