<!DOCTYPE html>
<html lang="es"  layout:decorate="_layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>UTP Integrador</title>        
    </head>

    <body>
        <div layout:fragment="content">            
            <form id="formularioSuscripcionClinica" name="formularioSuscripcionClinica" @submit.prevent="guardar">
                <div id="panel-datos-basicos">
                    <div class="container mt-4 px-5">
                        <div class="p-3 text-dark rounded" style="background-color: #B4B4B4;">
                            <h1>Registra tu clínica veterinaria</h1>
                            <h2>Datos de la clínica veterinaria</h2>
                            <div class="mb-3">
                                <label for="nombre-clinica" class="form-label">Nombre de la clínica veterinaria</label>
                                <input id="nombre-clinica" class="form-control" type="text" v-model="entidades.clinica_veterinaria.nombre_clinica">
                                <span id="error-nombre-clinica" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="ruc" class="form-label">R.U.C</label>
                                <input id="ruc" class="form-control"type="text" v-model="entidades.clinica_veterinaria.ruc">
                                <span id="error-ruc" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label">Dirección de la sede principal</label>
                                <input id="direccion" class="form-control" type="text" v-model="entidades.clinica_veterinaria.direccion">
                                <span id="error-direccion" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="link-web" class="form-label">Link de una red social o página web de la clínica veterinaria</label>
                                <input id="link-web" class="form-control" type="text" v-model="entidades.clinica_veterinaria.link_web">
                                <span id="error-link-web" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label">Teléfono de la sede principal</label>
                                <input id="telefono" class="form-control" type="tel" v-model="entidades.clinica_veterinaria.telefono">
                                <span id="error-telefono" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4  px-5">
                        <div class="p-3 text-dark rounded" style="background-color: #B4B4B4;">
                            <h2>Datos del médico responsable</h2>
                            <div class="mb-3">
                                <label for="nombres-medico" class="form-label">Nombres</label>
                                <input id="nombres-medico" class="form-control" type="text" v-model="entidades.usuario.nombres">
                                <span id="error-nombres-medico" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="apellidos-medico" class="form-label">Apellidos</label>
                                <input id="apellidos-medico" class="form-control" type="text" v-model="entidades.usuario.apellidos">
                                <span id="error-apellidos-medico" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="dni-medico" class="form-label">D.N.I</label>
                                <input id="dni-medico" class="form-control" type="text" v-model="entidades.usuario.dni">
                                <span id="error-dni-medico" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="nacimiento-medico" class="form-label">Fecha de nacimiento</label>
                                <input id="nacimiento-medico" class="form-control" type="date" placeholder="dd/mm/yyyy" v-model="entidades.usuario.fecha_nacimiento">
                                <span id="error-nacimiento-medico" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="celular-medico" class="form-label">Celular</label>
                                <input id="celular-medico" class="form-control" type="tel" v-model="entidades.usuario.celular">
                                <span id="error-celular-medico" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="numero-colegio-medico" class="form-label">Número de Colegio Médico Veterinario</label>
                                <input id="numero-colegio-medico" class="form-control" type="text" v-model="entidades.veterinario.numero_colegio_medico">
                                <span id="error-numero-colegio-medico" class="text-danger"></span>
                            </div>                            
                        </div>
                    </div>
                    <div class="container mt-4  px-5">
                        <div class="p-3 text-dark rounded" style="background-color: #B4B4B4;">
                            <h2 class="text-center">Configuración de la cuenta</h2>
                            <p>El médico veterinario representante deberá ingresar con un correo único y su respectiva contraseña para administrar la cuenta de la clínica veterinaria.</p>                        
                            <div class="mb-3">
                                <label for="correo-medico" class="form-label">Correo electrónico</label>
                                <input id="correo-medico" class="form-control" type="email" v-model="entidades.sesion.correo">
                                <span id="error-correo-medico" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="contrasena" class="form-label">Contraseña</label>
                                <input id="contrasena" class="form-control" type="password" v-model="entidades.sesion.contrasena">
                                <span id="error-contrasena" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="repetir-contrasena" class="form-label">Repetir contraseña</label>
                                <input id="repetir-contrasena" class="form-control" type="password">
                                <span id="error-repetir-contrasena" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4 px-5 d-flex justify-content-between">
                        <a href="/" class="btn btn-secondary">Regresar</a>
                        <button type="button" id="btn-cambiar-panel-planes" class="btn btn-primary mt-3">Seleccionar Plan de Suscripción</button>
                    </div>
                </div>

                <div id="panel-planes" class="container mt-4 px-5 d-none">
                    <div class="p-3 text-dark rounded" style="background-color: #B4B4B4;">
                        <h2 class="text-center">Seleccione su Plan de Suscripción</h2>						
                        <div class="mb-3">							
                            <ul class="list-group gap-5">
                                <div class="card list-group-item">
                                    <div class="card-header">
                                        <h2>Básico</h2>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Características</h5>
                                        <p class="card-text">
                                            Gestión de Citas Avanzada: Agendas múltiples, personalización de tipo de consulta, duración de citas, y asignación de citas a profesionales específicos.
                                            Historial Médico Completo: Registro detallado de cada paciente con datos de vacunación, procedimientos, diagnósticos y tratamientos. Generación de informes médicos.
                                            Acceso para un Usuario Administrador: Solo una cuenta de administrador, sin opciones de asignar roles adicionales.
                                            Notificaciones por SMS y Correo Electrónico: Envío de recordatorios de citas, alertas de vacunación o seguimiento de tratamientos a los propietarios de mascotas.
                                            Informes y Estadísticas: Reportes de rendimiento de citas, facturación y frecuencia de visitas.
                                            Soporte Básico: Asistencia técnica vía correo electrónico con tiempo de respuesta de 48 horas.

                                            Precio: $10 al mes
                                        </p>
                                        <div class="text-end">
                                            <button type="button" id="btn-plan-basico-cambiar-panel-pasarelas" class="btn btn-primary mt-3" @click="entidades.clinica_veterinaria.plan_suscripcion = 'básico';">Seleccionar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-group-item">
                                    <div class="card-header">
                                        <h2>Profesional</h2>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Características</h5>
                                        <p class="card-text">
                                            Todas las caracteristicas anteriores
                                            Acceso para 2–3 Usuarios Administrativos: El administrador puede asignar roles a otros usuarios (por ejemplo, veterinarios, recepcionistas) y gestionar permisos.
                                            Soporte Prioritario: Asistencia técnica a través de chat en vivo y correo electrónico con tiempo de respuesta de 24 horas

                                            Precio : $30 al mes
                                        </p>
                                        <div class="text-end">
                                            <button type="button" id="btn-plan-profesional-cambiar-panel-pasarelas" class="btn btn-primary mt-3" @click="entidades.clinica_veterinaria.plan_suscripcion = 'profesional';">Seleccionar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-group-item">
                                    <div class="card-header">
                                        <h2>Premium</h2>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Características</h5>
                                        <p class="card-text">
                                            Todas las caracteristicas anteriores
                                            Soporte 24/7: Asistencia técnica prioritaria a través de chat en vivo, correo electrónico y teléfono.
                                            Actualizaciones y Nuevas Funcionalidades: Acceso temprano a nuevas funciones y actualizaciones del sistema.
                                            Acceso para Múltiples Usuarios: El administrador puede gestionar un equipo completo (hasta 10 usuarios) con diferentes roles y permisos.

                                            Precio : $50 al mes
                                        </p>
                                        <div class="text-end">
                                            <button type="button" id="btn-plan-premium-cambiar-panel-pasarelas" class="btn btn-primary mt-3" @click="entidades.clinica_veterinaria.plan_suscripcion = 'premium';">Seleccionar</button>
                                        </div>
                                    </div>
                                </div>															
                            </ul>
                            <div class="container mt-4 px-5 d-flex justify-content-between">
                                <button type="button" id="btn-regresar-panel-datos-basicos" class="btn btn-secondary">Regresar</button>														
                            </div>
                        </div>
                    </div>					
                </div>													

                <div id="panel-pasarelas" class="container mt-4 px-5 d-none">
                    <div class="p-3 text-dark rounded" style="background-color: #B4B4B4;">                     
                        <h2 class="text-center">Seleccione una Pasarela de Pago</h2>
                        <div class="mb-3">			
                            <ul class="list-group gap-5">
                                <div class="card list-group-item">
                                    <div class="card-header">
                                        <h2>Izipay</h2>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Paga la suscripción a traves de Izipay</p>                                        
                                        <button class="btn btn-primary mt-3" @click="seleccionarPasarela('Izipay');">Seleccionar</button>
                                    </div>
                                </div>
                                <div class="card list-group-item">
                                    <div class="card-header">
                                        <h2>Culqui</h2>
                                    </div>
                                    <div class="card-body">										
                                        <p class="card-text">Paga la suscripción a traves de Culqui</p>                                        
                                        <button class="btn btn-primary mt-3" @click="seleccionarPasarela('Culqui');">Seleccionar</button>
                                    </div>
                                </div>
                                <div class="card list-group-item">
                                    <div class="card-header">
                                        <h2>Niubiz</h2>
                                    </div>
                                    <div class="card-body">										
                                        <p class="card-text">Paga la suscripción a traves de Niubiz</p>                                        
                                        <button class="btn btn-primary mt-3" @click="seleccionarPasarela('Niubiz');">Seleccionar</button>

                                    </div>
                                </div>															
                            </ul>
                            <div class="container mt-4 px-5 d-flex justify-content-between">			                                
                                <button type="button" id="btn-regresar-panel-planes" class="btn btn-secondary">Regresar</button>			
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script layout:fragment="script">
            new Vue({
                el: "#app",
                data: {
                    entidades: {
                        clinica_veterinaria: {
                            nombre_clinica: "",
                            ruc: "",
                            direccion: "",
                            link_web: "",
                            telefono: "",
                            plan_suscripcion: "",
                            pasarela_pago: ""
                        },
                        usuario: {
                            nombres: "",
                            apellidos: "",
                            dni: "",
                            celular: "",
                            fecha_nacimiento: "",
                            fecha_registro: ""
                        },
                        veterinario: {
                            usuario: {},
                            numero_colegio_medico: "",
                            especialidad: ""
                        },
                        sesion: {
                            correo: "",
                            contrasena: "",
                            usuario: {},
                            fecha_creacion: ""
                        }
                    },
                    entidad: []
                },
                methods: {
                    guardar: function () {

                        let fecha = new Date().toISOString();
                        this.entidades.usuario.fecha_registro = fecha;
                        this.entidades.sesion.fecha_creacion = fecha;

                        this.entidades.veterinario.usuario = this.entidades.usuario;
                        this.entidades.sesion.usuario = this.entidades.usuario;

                        if (!this.entidades.clinica_veterinaria.pasarela_pago) {
                            alert("Por favor, seleccione una pasarela de pago");
                            return;
                        }

                        let datos = {
                            clinica_veterinaria: this.entidades.clinica_veterinaria,
                            usuario: this.entidades.usuario,
                            veterinario: this.entidades.veterinario,
                            sesion: this.entidades.sesion
                        };

                        console.log(this.entidades);

                        this.$http.post("/api/Suscripcion", datos).then(() => {                            
                            window.location.href = "/Clinicas/SuscripcionEnviada";
                        }).catch(error => {
                            console.error("Error al enviar la suscripción: ", error);
                        });

                    },
                    seleccionarPasarela: function (pasarela) {
                        this.entidades.clinica_veterinaria.pasarela_pago = pasarela;
                    },
                    mostrar: function () {
                        console.log(entidades);
                    }
                },
                mounted: function () {

                }
            });
           
            const campos = [
                // Se pueden agregar más campos para validar, revisar regex en https://regex101.com/
                {
                    idInput: "nombre-clinica",
                    idError: "error-nombre-clinica",
                    mensaje: "El nombre de la clínica veterinaria es inválido",
                    regex: /^[^'";]{3,50}$/
                },
                {
                    idInput: "ruc",
                    idError: "error-ruc",
                    mensaje: "El número de R.U.C de la clínica veterinaria es inválido.",
                    regex: /^[20][0-9]{11,11}$/
                },
                {
                    idInput: "direccion",
                    idError: "error-direccion",
                    mensaje: "La dirección de la sede de la clínica veterinaria es inválida.",
                    regex: /^[a-zA-Zá-úÁ-Ú0-9\s.,°#\-&]{5,100}$/
                },
                {
                    idInput: "link-web",
                    idError: "error-link-web",
                    mensaje: "La dirección URL de la clínica veterinaria es inválida.",
                    regex: /^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)$/ // https://uibakery.io/regex-library/url
                },
                {
                    idInput: "telefono",
                    idError: "error-telefono",
                    mensaje: "El número de teléfono de la sede es inválido.",
                    regex: /^[0-9]{8,8}$/
                },
                {
                    idInput: "nombres-medico",
                    idError: "error-nombres-medico",
                    mensaje: "Los nombres del médico responsable son inválidos.",
                    regex: /^[a-zA-Zá-úÁ-Ú\s]{3,50}$/
                },
                {
                    idInput: "apellidos-medico",
                    idError: "error-apellidos-medico",
                    mensaje: "los apellidos del médico responsable son inválidos.",
                    regex: /^[a-zA-Zá-úÁ-Ú\s]{3,50}$/
                }
                ,
                {
                    idInput: "dni-medico",
                    idError: "error-dni-medico",
                    mensaje: "El número de D.N.I del médico responsable es inválido.",
                    regex: /^[0-9]{8,8}$/
                },
                {
                    idInput: "nacimiento-medico",
                    idError: "error-nacimiento-medico",
                    mensaje: "La fecha de nacimiento del médico responsable es inválida.",
                    regex: /^[^'";]{3,50}$/ // /^(0[1-9]|[12]\d|3[01])\/(0[1-9]|1[0-2])\/(19\d{2}|20[0-2]\d)$/
                },
                {
                    idInput: "celular-medico",
                    idError: "error-celular-medico",
                    mensaje: "El número de celular del médico responsbale es inválido.",
                    regex: /^[9][0-9]{8,8}$/
                },
                {
                    idInput: "numero-colegio-medico",
                    idError: "error-numero-colegio-medico",
                    mensaje: "El número de colegio médico (CMVP) del médico responsable es inválido.",
                    regex: /^\d{1,5}$/
                },
                {
                    idInput: "correo-medico",
                    idError: "error-correo-medico",
                    mensaje: "El correo del médico responsable es inválido.",
                    regex: /^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/ // https://saturncloud.io/blog/how-can-i-validate-an-email-address-using-a-regular-expression/
                },
                {
                    idInput: "contrasena",
                    idError: "error-contrasena",
                    mensaje: "La contraseña es inválida.",
                    regex: /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$/ // https://ihateregex.io/expr/password/
                },
                {
                    idInput: "repetir-contrasena",
                    idError: "error-repetir-contrasena",
                    mensaje: "La contraseña es inválida.",
                    regex: /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$/ // https://ihateregex.io/expr/password/
                }
                // Se pueden agregar más campos para validar, revisar regex en https://regex101.com/
            ];
            function validarCampo(campo) {
                const input = document.getElementById(campo.idInput);
                const error = document.getElementById(campo.idError);
                const valor = input.value.trim();
                if (valor === "" || !campo.regex.test(valor)) {
                    error.textContent = campo.mensaje;
                    error.style.display = "block";
                    return false;
                } else {
                    error.style.display = "none";
                    return true;
                }
            }

            campos.forEach(campo => {
                const input = document.getElementById(campo.idInput);
                input.addEventListener("input", () => validarCampo(campo));
            });
            document.getElementById("formularioSuscripcionClinica").addEventListener("submit", function (event) {
                let esValido = true;
                campos.forEach(campo => {
                    if (!validarCampo(campo)) {
                        esValido = false;
                    }
                });
                if (!esValido) {
                    event.preventDefault();
                }
            });

<!-- empieza la configuración de pantallas -->

            document.addEventListener('DOMContentLoaded', () => {
                const cambiarPanel = (idOcultar, idMostrar) => {
                    document.getElementById(idOcultar).classList.add('d-none');
                    document.getElementById(idMostrar).classList.remove('d-none');
                    requestAnimationFrame(() => {
                        requestAnimationFrame(() => {
                            window.scrollTo({top: 0, behavior: 'smooth'});
                        });
                    });
                };

                document.getElementById('btn-cambiar-panel-planes').addEventListener('click', () => {
                    let esValido = true;
                    let primerCampoInvalido = null;

                    campos.forEach(campo => {
                        const input = document.getElementById(campo.idInput);
                        esValido = validarCampo(campo);
                        if (esValido === false && primerCampoInvalido === null && input !== null) {
                            primerCampoInvalido = input;
                        }
                    });

                    if (esValido) {
                        cambiarPanel('panel-datos-basicos', 'panel-planes');
                    } else if (primerCampoInvalido !== null) {
                        primerCampoInvalido.scrollIntoView({behavior: "smooth", block: "center"});
                        primerCampoInvalido.focus();
                    }
                });

                document.getElementById('btn-regresar-panel-datos-basicos').addEventListener('click', () => {
                    cambiarPanel('panel-planes', 'panel-datos-basicos');
                });

                document.getElementById('btn-plan-basico-cambiar-panel-pasarelas').addEventListener('click', () => {
                    cambiarPanel('panel-planes', 'panel-pasarelas');
                });
                document.getElementById('btn-plan-profesional-cambiar-panel-pasarelas').addEventListener('click', () => {
                    cambiarPanel('panel-planes', 'panel-pasarelas');
                });
                document.getElementById('btn-plan-premium-cambiar-panel-pasarelas').addEventListener('click', () => {
                    cambiarPanel('panel-planes', 'panel-pasarelas');
                });

                document.getElementById('btn-regresar-panel-planes').addEventListener('click', () => {
                    cambiarPanel('panel-pasarelas', 'panel-planes');
                });
            });

<!-- termino la configuración de pantallas -->

        </script>            

    </body>				
</html>